footer {
    background-color: #000000;
    width: 100vw;
    div {
        div {
            div {
                h5 {
                    font-family: $font-primary;
                    color: #ffffff;
                }
                h3 {
                    font-family: $font-secondary;
                    color: #ffffff;
                }
                ul {
                    li {
                        a{
                        text-decoration: none;
                        color: rgb(143, 143, 143);
                        }
                    }
                    #facebook:hover {
                        a {
                            color: #385898;
                        }
                    }
                    
                    #instagram:hover {
                         a {
                            color: #AF2553;
                         }
                    }
                    
                    #twitter:hover {
                         a {
                            color: #1DA1F2;
                         }
                    }
                }
               p {
                   color: #ffffff;
               }
            }
        }
    }
}
