nav {
    background-color: #081629;
    div {
        > a {
            font-size: 1.3em !important;
            font-family: $font-primary;
            letter-spacing: 5px;
            color: #738091;
        }
        div {
            ul {
                li {
                    transition: 300ms;
                    margin: 0px 5px 0px 5px;
                    a {
                        font-size: 1.1em;
                        font-family: $font-secondary;
                        color: #ffffff !important;
                    }
                }
                li:hover {
                    transition: 300ms;
                    transform: scale(1.15);
                }
                .active-li {
                    background: linear-gradient(to right, #000000,#081629);
                }
            }
        }
    }
}

header {
    height: 20%;
    width: 100vw;
    position: sticky; 
    top: 0;
    z-index: 9;
    opacity: 75%;
}

@media only screen and (min-width: 991px) {
    nav {
        div {
            div {
                ul {
                    li {
                        .active {
                            font-size: 1.2em;
                        }
                    }
                    .active-li {
                        background: radial-gradient(#000000, #081629);
                    }
                }
            }
        }
    }
}