nav {
    background-color: #081629;
    div {
        > a {
            font-family: $font-primary;
            letter-spacing: 5px;
            color: #738091;
        }
        div {
            ul {
                li {
                    a {
                        font-family: $font-secondary;
                        color: #ffffff !important;
                    }
                }
                li:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

header {
    height: 20%;
    width: 100vw;
    position: sticky; top: 0;
    z-index: 9;
    opacity: 75%;
}