$alto-img: 160px;
$ancho-img:640px;

/* texto */

.main { 
    section {
        h2 {
            color: #ffffff;
            font-family: $font-primary;
            font-size: 2em;
            text-align: center;
            letter-spacing: 1px;
        }
        p {
            text-align: center;
            font-family: $font-secondary;
            color: #ffffff;
        }
    }
}

/* diseño */

main {
    padding-bottom: 25px;
}
#main-home {
    section {
        div {
            max-height: $alto-img;
            max-width: $ancho-img;
            div {
                div {
                    img {
                        height: $alto-img;
                        width: $ancho-img;
                    }
                }
            }
        }
    }
}
#main-destinos {
    div {
        overflow: hidden;
        position: relative;
        height: 0;
        padding-bottom: 80%;
    }
    #mapa {
        position: absolute;
        padding: 20px 0 20px 0;
        height: 100%;
        width: 100%;
        left: 0;
        top:0;
    }
}

#main-contacto {
    section {
        div {
            img {
                max-height: 75px;
                max-width: 178px;
            }
        }
        form {

            label {
                color: #ffffff;
            }
            .form-control {
                transition: 800ms;
                background-color: #081629;
                border-color: #0d6efd;
                margin: 0;
                color: #ffffff;
            }
            .form-control:hover {
                transition: 800ms;
                border-color: #AF2553;
            }
            button {
                transition: 800ms;
                width: 70px;
                text-align: center;
                font-family: $font-secondary;
            }
            button:hover {
                transition: 800ms;
                background-color: #081629;
            }
        }
    }
}

#main-medios {
    section {
        div {
            div {
                p {
                    button {
                        width: 100%;
                        text-align: center;
                        font-family: $font-secondary;
                        margin-top: 3px;
                        img {
                            width: 45px;
                            height: 45px;
                        }
                    }
                    button:hover {
                        box-shadow: none;
                    }
                    button:active {
                        transform: scale(0.98);
                    }
                }
                div {
                    div {
                        background-color: #0c213f;
                        color: #ffffff;
                        span {
                            a {
                                text-decoration: none;
                                color: dodgerblue;
                            }
                        }
                    }
                }
            }
        }
    }
}

#main-nosotros {
    section {
        p {
            font-size: 1.2em;
            text-align: left;
        }
        h3 {
            color: #ffffff;
            font-family: $font-primary;
        }
        div {
            h4 {
                font-size: 1.6em;
                color: #ffffff;
            }
            p {
                font-size: 1.1em;
            }
            ul {
                list-style-image: url(../media/img/lista.png);
                li {
                    color: #ffffff;
                }
            }
        }
    }
    .invertir {
        background-color: #ffffff;
        h3 {
            color: #081629;
            font-family: $font-primary;
        }
        p {
            color: #081629;
        }
    }
}

/* keyframes y animaciones */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.fadeIn {
    animation: fadeIn ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(70px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
     }
}

.fadeInRight {
    animation: fadeInRight ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
     }
}

.fadeInTop {
    animation: fadeInTop ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* media querie */

@media only screen and (min-width: 450px) {
    #main-home {
        h2 {
            text-align: left;
        }
        section {
            div {
                max-height: $alto-img + 100px;
                div {
                    div {
                        img {
                            height: $alto-img + 100px;
                        }
                    }
                }
            }
        }
       
    }
    .carousel {
        max-height: $alto-img + 100px;
    }
    #main-medios {
        section {
            div {
                div {
                    p {
                        button {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #main-contacto {
        section {
            div {
                display: flex;
                flex-flow: row-reverse wrap;
                justify-content: center;
                align-items: center;
                img {
                    max-height: 150px;
                    max-width: 337px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    #main-home {
        section {
            div {
                max-height: $alto-img + 200px;
                div {
                    div {
                        img {
                            height: $alto-img + 200px;
                        }
                    }
                }
            }
        }
    }
}